.ipynb_checkpoints/
lightning_logs/
lab4/data/
lab4/facebook/
venv/
.venv/
.env/

__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

.DS_Store
.vscode/
.idea/


project/project_data/

*.pt
*.pth
*.ckpt
*.h5
*.npy
*.npz

=*